In [1]:
#! pip install openpyxl
import pandas as pd

In [2]:
df = pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_Aquitaine_20190329.xlsx', sheet_name="Ressources demandeur"))

C:\Users\arceb\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Demandes actives : types de ressources des dem...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,Source : DGALN - Infocentre Numéro Unique - do...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Date du stock : 01/01/2018 12:00:00
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
152679,NaN,974111715873511487,1725,Retraite,1725
152680,NaN,9741216133916GDPUB,2000,Salaire ou revenu d'activité,2000
152681,NaN,9741216133920GDPUB,846,Retraite,846
152682,NaN,9741217158325GDPUB,33,Allocation chômage / indemnités,33
152683,NaN,83717,NaN,NaN,NaN

In [66]:
"""df7778=pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_77_78_20190329.xlsx', sheet_name="Ressources demandeur"))
df91=pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_91_20190329.xlsx', sheet_name="Ressources demandeur"))
df92=pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_92_20190329.xlsx', sheet_name="Ressources demandeur"))
df93=pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_93_20190329.xlsx', sheet_name="Ressources demandeur"))
df94=pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_94_20190329.xlsx', sheet_name="Ressources demandeur"))
df95=pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_95_20190329.xlsx', sheet_name="Ressources demandeur"))"""

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 38-39: truncated \UXXXXXXXX escape (4105613451.py, line 6)

In [4]:
dfbis=df.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])
"""df_7778=df7778.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])
df_91=df91.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])
df_92=df92.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])
df_93=df93.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])
df_94=df94.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])
df_95=df95.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])"""

"df_7778=df7778.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])\ndf_91=df91.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])\ndf_92=df92.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])\ndf_93=df93.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])\ndf_94=df94.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])\ndf_95=df95.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])"

In [5]:
"""df_d=pd.concat([df_75, df_7778, df_91, df_92, df_93, df_94, df_95])
df_d"""

'df_d=pd.concat([df_75, df_7778, df_91, df_92, df_93, df_94, df_95])\ndf_d'

In [6]:
dfbis.columns = dfbis.iloc[0]

In [7]:
df_d=dfbis.drop(index = [6])

In [8]:
df_d

6,Numéro Unique,Ressources mensuelles\n,Type de ressource\n,Montant par type de ressource\n
7,001011403466511146,2134,Allocation chômage / indemnités,240
8,001011403466511146,2134,Allocation familiales,424
9,001011403466511146,2134,Autres (hors APL ou AL),517
10,001011403466511146,2134,Salaire ou revenu d'activité,953
11,0010117074877GDPUB,900,Allocation familiales,700
...,...,...,...,...
152679,974111715873511487,1725,Retraite,1725
152680,9741216133916GDPUB,2000,Salaire ou revenu d'activité,2000
152681,9741216133920GDPUB,846,Retraite,846
152682,9741217158325GDPUB,33,Allocation chômage / indemnités,33
152683,83717,NaN,NaN,NaN

In [9]:
df_d.reset_index(inplace=True, drop=True)
df_d

6,Numéro Unique,Ressources mensuelles\n,Type de ressource\n,Montant par type de ressource\n
0,001011403466511146,2134,Allocation chômage / indemnités,240
1,001011403466511146,2134,Allocation familiales,424
2,001011403466511146,2134,Autres (hors APL ou AL),517
3,001011403466511146,2134,Salaire ou revenu d'activité,953
4,0010117074877GDPUB,900,Allocation familiales,700
...,...,...,...,...
152672,974111715873511487,1725,Retraite,1725
152673,9741216133916GDPUB,2000,Salaire ou revenu d'activité,2000
152674,9741216133920GDPUB,846,Retraite,846
152675,9741217158325GDPUB,33,Allocation chômage / indemnités,33
152676,83717,NaN,NaN,NaN

In [10]:
df_d.to_csv('demandeurs_45_revenus.csv', index = True)