In [1]:
#! pip install openpyxl
import pandas as pd

In [9]:
df75 = pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_75_20190329.xlsx', sheet_name="Ressources demandeur"))

C:\Users\arceb\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [10]:
df75

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Demandes actives : types de ressources des dem...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,Source : DGALN - Infocentre Numéro Unique - do...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Date du stock : 01/01/2018 12:00:00
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
255878,NaN,9740616123643GDPUB,1250,Salaire ou revenu d'activité,1250
255879,NaN,9740617145244GDPUB,NaN,NaN,NaN
255880,NaN,974071046835311480,620,Retraite,620
255881,NaN,9740816127611GDPUB,2037,Salaire ou revenu d'activité,2037
255882,NaN,148574,NaN,NaN,NaN

In [11]:
df7778=pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_77_78_20190329.xlsx', sheet_name="Ressources demandeur"))
df91=pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_91_20190329.xlsx', sheet_name="Ressources demandeur"))
df92=pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_92_20190329.xlsx', sheet_name="Ressources demandeur"))
df93=pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_93_20190329.xlsx', sheet_name="Ressources demandeur"))
df94=pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_94_20190329.xlsx', sheet_name="Ressources demandeur"))
df95=pd.DataFrame(pd.read_excel(r'C:\Users\arceb\Desktop\Stage\Fichiers demandeurs complets Ministère/d_20180101_95_20190329.xlsx', sheet_name="Ressources demandeur"))

C:\Users\arceb\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\arceb\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\arceb\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\arceb\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\arceb\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\arceb\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [12]:
df_75=df75.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])
df_7778=df7778.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])
df_91=df91.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])
df_92=df92.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])
df_93=df93.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])
df_94=df94.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])
df_95=df95.drop(index = [0, 1, 2, 3, 4, 5], columns=['Unnamed: 0'])

In [14]:
df_d=pd.concat([df_75, df_7778, df_91, df_92, df_93, df_94, df_95])
df_d

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
6,Numéro Unique,Ressources mensuelles\n,Type de ressource\n,Montant par type de ressource\n
7,0010216061927GDPUB,908,Retraite,908
8,001021707657411126,1239,Retraite,1239
9,0010417079507GDPUB,1000,Allocation chômage / indemnités,1000
10,001071606857001033,1570,Allocation chômage / indemnités,500
...,...,...,...,...
124946,974081715046411487,1027,Retraite,867
124947,974101613022611484,1240,Retraite,1240
124948,974111613236511483,1650,Salaire ou revenu d'activité,1650
124949,9741217157605GDPUB,475,Revenu de solidarité active (RSA),475
124950,65838,NaN,NaN,NaN

In [15]:
df_d.columns = df_d.iloc[0]

In [16]:
df_d1=df_d.drop(index = [6])

6,Numéro Unique,Ressources mensuelles\n,Type de ressource\n,Montant par type de ressource\n
7,0010216061927GDPUB,908,Retraite,908
8,001021707657411126,1239,Retraite,1239
9,0010417079507GDPUB,1000,Allocation chômage / indemnités,1000

In [17]:
df_d1

6,Numéro Unique,Ressources mensuelles\n,Type de ressource\n,Montant par type de ressource\n
7,0010216061927GDPUB,908,Retraite,908
8,001021707657411126,1239,Retraite,1239
9,0010417079507GDPUB,1000,Allocation chômage / indemnités,1000
10,001071606857001033,1570,Allocation chômage / indemnités,500
11,001071606857001033,1570,Salaire ou revenu d'activité,1070
...,...,...,...,...
124946,974081715046411487,1027,Retraite,867
124947,974101613022611484,1240,Retraite,1240
124948,974111613236511483,1650,Salaire ou revenu d'activité,1650
124949,9741217157605GDPUB,475,Revenu de solidarité active (RSA),475
124950,65838,NaN,NaN,NaN

In [18]:
df_d1.reset_index(inplace=True, drop=True)
df_d1

6,Numéro Unique,Ressources mensuelles\n,Type de ressource\n,Montant par type de ressource\n
0,0010216061927GDPUB,908,Retraite,908
1,001021707657411126,1239,Retraite,1239
2,0010417079507GDPUB,1000,Allocation chômage / indemnités,1000
3,001071606857001033,1570,Allocation chômage / indemnités,500
4,001071606857001033,1570,Salaire ou revenu d'activité,1070
...,...,...,...,...
1285446,974081715046411487,1027,Retraite,867
1285447,974101613022611484,1240,Retraite,1240
1285448,974111613236511483,1650,Salaire ou revenu d'activité,1650
1285449,9741217157605GDPUB,475,Revenu de solidarité active (RSA),475
1285450,65838,NaN,NaN,NaN

In [19]:
df_d1.to_csv('demandeurs_IDF__revenus.csv', index = True)