In [2]:
import numpy as np
import pandas
import pandas as pd
import matplotlib.pyplot as plt

## Nettoyage de la base de données

#### Création de la base de données fusionnée attributaires / demandeurs

In [3]:
dfa = pd.read_csv(r'C:\Users\arceb\Desktop\Stage\BDD/attributaires_IDF.csv')
dfd = pd.read_csv(r'C:\Users\arceb\Desktop\Stage\BDD/demandeurs_IDF(1).csv')

C:\Users\arceb\AppData\Local\Temp\ipykernel_19692\35231794.py:1: DtypeWarning: Columns (7,8,25) have mixed types. Specify dtype option on import or set low_memory=False.
  dfa = pd.read_csv(r'C:\Users\arceb\Desktop\Stage\BDD/attributaires_IDF.csv')
C:\Users\arceb\AppData\Local\Temp\ipykernel_19692\35231794.py:2: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  dfd = pd.read_csv(r'C:\Users\arceb\Desktop\Stage\BDD/demandeurs_IDF(1).csv')

In [21]:
base = dfd.merge(dfa, on='Numéro Unique', how='outer')
base

,Unnamed: 0_x,région_x,Numéro Unique,Date création demande_x,Age demandeur_x,Situation familiale_x,Code département logement actuel_x,Code INSEE logt actuel_x,Commune logt actuel_x,Mode de logement actuel_x,...,Code de la commune attribuée,Région du logement attribué,Type du logement attribué,Est en QPV,Surface du logement attribué,Statut DALO,Date de la décision DALO\n\n,Accompagnement social,Diagnostic social,Réservataire
0,0.0,Ile-de-France,175037900427000002,1979-03-01 00:00:00,59.0,Veuf (ve),75.0,75112.0,Paris 12ème arrondissement,Locataire parc privé,...,75120.0,Ile-de-France,T1,Oui,20.0,Actif relogé,2012-06-15 00:00:00,Non,Non,"Contingent des collectivités territoriales, de..."
1,1.0,Ile-de-France,175018000669100002,1980-01-15 00:00:00,66.0,Célibataire,75.0,75113.0,Paris 13ème arrondissement,Locataire parc privé,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Ile-de-France,175028000646000002,1980-02-17 00:00:00,80.0,Célibataire,75.0,75113.0,Paris 13ème arrondissement,Propriétaire occupant,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Ile-de-France,175028000574100002,1980-02-18 00:00:00,65.0,Célibataire,75.0,75104.0,Paris 4ème arrondissement,Locataire parc privé,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,Ile-de-France,111091487693675056,1980-04-15 00:00:00,82.0,Célibataire,75.0,75114.0,Paris 14ème arrondissement,Locataire HLM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797468,NaN,NaN,1111218129847GDPUB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78361.0,Ile-de-France,T2,Oui,47.0,Non renseigné,NaN,Non,Non,Contingent autres réservataires
797469,NaN,NaN,111121812788778498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78498.0,Ile-de-France,T2,Oui,46.0,Non renseigné,NaN,Non,Non,Contingent commune
797470,NaN,NaN,111121812792310122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78314.0,Ile-de-France,T2,Non,53.0,Non renseigné,NaN,Non,Non,Hors contingent
797471,NaN,NaN,111121813038177438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77243.0,Ile-de-France,T3,Non,63.0,Non renseigné,NaN,Non,Non,Contingent département
797472,NaN,NaN,111121813209910389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91174.0,Ile-de-France,T2,Oui,50.0,Non renseigné,NaN,Non,Non,Contingent préfet prioritaires (hors fonctionn...

In [22]:
bdd=base[["Unnamed: 0_x", "Montant maxi (loyer+charges) supportable_x",  "Ressources mensuelles du foyer_x", "Nb unités de consommation du foyer_x", "Situation professionnelle demandeur_x", "motif n°1 de la demande_x", "Age demandeur_x", "Nationalité demandeur\n", "Sexe demandeur\n", "Numéro Unique", "Date de la radiation"]]

In [23]:
bdd.rename(columns={'Unnamed: 0_x': 'Code', 'Montant maxi (loyer+charges) supportable_x': 'Montant maxi (loyer+charges) supportable', 'Ressources mensuelles du foyer_x': 'Ressources mensuelles du foyer', 'Nb unités de consommation du foyer_x': 'Nb unités de consommation du foyer', 'Situation professionnelle demandeur_x':'Situation professionnelle demandeur', 'motif n°1 de la demande_x': 'motif n°1 de la demande', 'Age demandeur_x': 'Age demandeur', 'Nationalité demandeur\n': 'Nationalité demandeur', 'Sexe demandeur\n': 'Sexe demandeur'}, inplace=True)
bdd

C:\Users\arceb\AppData\Local\Temp\ipykernel_19692\3319011739.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bdd.rename(columns={'Unnamed: 0_x': 'Code', 'Montant maxi (loyer+charges) supportable_x': 'Montant maxi (loyer+charges) supportable', 'Ressources mensuelles du foyer_x': 'Ressources mensuelles du foyer', 'Nb unités de consommation du foyer_x': 'Nb unités de consommation du foyer', 'Situation professionnelle demandeur_x':'Situation professionnelle demandeur', 'motif n°1 de la demande_x': 'motif n°1 de la demande', 'Age demandeur_x': 'Age demandeur', 'Nationalité demandeur\n': 'Nationalité demandeur', 'Sexe demandeur\n': 'Sexe demandeur'}, inplace=True)

,Code,Montant maxi (loyer+charges) supportable,Ressources mensuelles du foyer,Nb unités de consommation du foyer,Situation professionnelle demandeur,motif n°1 de la demande,Age demandeur,Nationalité demandeur,Sexe demandeur,Numéro Unique,Date de la radiation
0,0.0,300.0,556.0,1.0,Retraité,Logement repris ou mis en vente par son propri...,59.0,Hors Union Européenne,F,175037900427000002,2018-04-13 00:00:00
1,1.0,299.0,1906.0,1.0,Retraité,Logement trop petit,66.0,Française,F,175018000669100002,NaN
2,2.0,400.0,1446.0,1.0,Retraité,Handicap,80.0,Française,M,175028000646000002,NaN
3,3.0,750.0,2323.0,1.5,CDI (ou fonctionnaire),Logement repris ou mis en vente par son propri...,65.0,Française,F,175028000574100002,NaN
4,4.0,300.0,1447.0,1.0,Retraité,Raisons de santé,82.0,Française,F,111091487693675056,NaN
...,...,...,...,...,...,...,...,...,...,...,...
797468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1111218129847GDPUB,2019-01-01 00:00:00
797469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111121812788778498,2018-12-21 00:00:00
797470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111121812792310122,2018-12-28 00:00:00
797471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111121813038177438,2018-12-31 00:00:00
797472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111121813209910389,2018-12-31 00:00:00

#### Création de la variable binaire : attribution d'un logement en 2018

In [29]:
bdd['Code'] = bdd['Date de la radiation'].str.contains("NaN", na=True).astype(int)

C:\Users\arceb\AppData\Local\Temp\ipykernel_19692\325202126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bdd['Code'] = bdd['Date de la radiation'].str.contains("NaN", na=True).astype(int)

In [30]:
bdd

,Code,Montant maxi (loyer+charges) supportable,Ressources mensuelles du foyer,Nb unités de consommation du foyer,Situation professionnelle demandeur,motif n°1 de la demande,Age demandeur,Nationalité demandeur,Sexe demandeur,Numéro Unique,Date de la radiation
0,0,300.0,556.0,1.0,Retraité,Logement repris ou mis en vente par son propri...,59.0,Hors Union Européenne,F,175037900427000002,2018-04-13 00:00:00
1,1,299.0,1906.0,1.0,Retraité,Logement trop petit,66.0,Française,F,175018000669100002,NaN
2,1,400.0,1446.0,1.0,Retraité,Handicap,80.0,Française,M,175028000646000002,NaN
3,1,750.0,2323.0,1.5,CDI (ou fonctionnaire),Logement repris ou mis en vente par son propri...,65.0,Française,F,175028000574100002,NaN
4,1,300.0,1447.0,1.0,Retraité,Raisons de santé,82.0,Française,F,111091487693675056,NaN
...,...,...,...,...,...,...,...,...,...,...,...
797468,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1111218129847GDPUB,2019-01-01 00:00:00
797469,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111121812788778498,2018-12-21 00:00:00
797470,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111121812792310122,2018-12-28 00:00:00
797471,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111121813038177438,2018-12-31 00:00:00
797472,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111121813209910389,2018-12-31 00:00:00

Dans la première colonne du tableau, lorsque le code est égal à 1, cela veut dire qu'il n'y a pas eu d'attribution, tandis que lorsque le code est égal à 0, il y a eu attribution. On va retirer du tableau les valeurs qui correspondent à des attributions de 2017.

In [ ]:
#On vérifie que dans la base de données il y a des attributions de 2017 afin de les supprimer
bdd['Date de la radiation'].str.contains("2017", na=False)

A partir de la ligne 705000 environ on retrouve bien des radiations de 2017. Il faut les supprimer pour n'utiliser que les données de 2018.

In [35]:
indexNames = bdd[ bdd['Date de la radiation'].str.contains("2017", na=False)].index

In [36]:
indexNames

Int64Index([704523, 704524, 704525, 704526, 704527, 704528, 704529, 704530,
            704531, 704532,
            ...
            784329, 784330, 784331, 784337, 784339, 784340, 784341, 784342,
            784348, 784349],
           dtype='int64', length=78876)

In [37]:
bdd.drop(indexNames, inplace=True)

C:\Users\arceb\AppData\Local\Temp\ipykernel_19692\2541880329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bdd.drop(indexNames, inplace=True)

In [38]:
bdd

,Code,Montant maxi (loyer+charges) supportable,Ressources mensuelles du foyer,Nb unités de consommation du foyer,Situation professionnelle demandeur,motif n°1 de la demande,Age demandeur,Nationalité demandeur,Sexe demandeur,Numéro Unique,Date de la radiation
0,0,300.0,556.0,1.0,Retraité,Logement repris ou mis en vente par son propri...,59.0,Hors Union Européenne,F,175037900427000002,2018-04-13 00:00:00
1,1,299.0,1906.0,1.0,Retraité,Logement trop petit,66.0,Française,F,175018000669100002,NaN
2,1,400.0,1446.0,1.0,Retraité,Handicap,80.0,Française,M,175028000646000002,NaN
3,1,750.0,2323.0,1.5,CDI (ou fonctionnaire),Logement repris ou mis en vente par son propri...,65.0,Française,F,175028000574100002,NaN
4,1,300.0,1447.0,1.0,Retraité,Raisons de santé,82.0,Française,F,111091487693675056,NaN
...,...,...,...,...,...,...,...,...,...,...,...
797468,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1111218129847GDPUB,2019-01-01 00:00:00
797469,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111121812788778498,2018-12-21 00:00:00
797470,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111121812792310122,2018-12-28 00:00:00
797471,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111121813038177438,2018-12-31 00:00:00
797472,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111121813209910389,2018-12-31 00:00:00

In [54]:
bdd_bis=bdd[['Code', 'Montant maxi (loyer+charges) supportable', 'Ressources mensuelles du foyer','Nb unités de consommation du foyer', 'Age demandeur']]

In [57]:
#On enlève les NaN c'est à dire les données incomplètes + les personnes qui ont eu un logement dans l'année et qui ne sont pas dans la base attributaires
bdd_bis.dropna(inplace=True)

C:\Users\arceb\AppData\Local\Temp\ipykernel_19692\2504137402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bdd_bis.dropna(inplace=True)

In [58]:
bdd_bis

,Code,Montant maxi (loyer+charges) supportable,Ressources mensuelles du foyer,Nb unités de consommation du foyer,Age demandeur
0,0,300.0,556.0,1.0,59.0
1,1,299.0,1906.0,1.0,66.0
2,1,400.0,1446.0,1.0,80.0
3,1,750.0,2323.0,1.5,65.0
4,1,300.0,1447.0,1.0,82.0
...,...,...,...,...,...
704516,1,550.0,2128.0,2.1,31.0
704517,1,1400.0,4821.0,1.8,47.0
704518,1,600.0,1067.0,1.0,43.0
704519,1,600.0,1643.0,1.3,32.0
704520,1,395.0,1186.0,1.0,24.0

On a transformé la variable d'intérêt (le fait que la personne se soit vue attribuer un logement ou non au cours de l'année 2018 en fonction de sa présence dans la base de données des demandeurs au premier janvier) en une variable binaire (0= elle a obtenu un logement, 1= elle n'a pas obtenu de logement). Afin d'effectuer une régression probit ou logit (qui sont les types de régressions utilisés lorsque la variable d'intérêt est binaire), il faut transformer les autres variables qualitatives de la base de données en des variables quantitatives.

Idée : on pourrait avoir besoin de variables de contrôle selon le lieu (EPCI, régon,...) : aller voir les travaux de Gulian là-dessus.

#### Transformation des autres variables en variables qualitatives

Il faut transformer la variable situation professionnelle du demandeur, le motif, le sexe et la nationalité du demandeur, selon le nombre de catégories qualitatives que chaque variable contient (ex : le sexe du demandeur va être une variable binaire)

## Test régression

In [42]:
!pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.13.2-cp39-cp39-win_amd64.whl (9.1 MB)
Requirement already satisfied: packaging>=21.3 in c:\users\arceb\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (21.3)
Requirement already satisfied: pandas>=0.25 in c:\users\arceb\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.4.2)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.2-py2.py3-none-any.whl (233 kB)
Collecting scipy>=1.3
  Downloading scipy-1.8.1-cp39-cp39-win_amd64.whl (36.9 MB)
Requirement already satisfied: numpy>=1.17 in c:\users\arceb\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.22.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\arceb\appdata\local\programs\python\python39\lib\site-packages (from packaging>=21.3->statsmodels) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\arceb\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.25->statsmodels) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\arceb\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: six in c:\users\arceb\appdata\local\programs\python\python39\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: scipy, patsy, statsmodels
Successfully installed patsy-0.5.2 scipy-1.8.1 statsmodels-0.13.2

WARNING: You are using pip version 21.2.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\arceb\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [43]:
!pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.1.1-cp39-cp39-win_amd64.whl (7.4 MB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\arceb\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn->sklearn) (1.22.2)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: scipy>=1.3.2 in c:\users\arceb\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn->sklearn) (1.8.1)
Collecting joblib>=1.0.0
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Using legacy 'setup.py install' for sklearn, since package 'wheel' is not installed.
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
    Running setup.py install for sklearn: started
    Running setup.py install for sklearn: finished with status 'done'
Successfully installed joblib-1.1.0 scikit-learn-1.1.1 sklearn-0.0 threadpoolctl-3.1.0

WARNING: You are using pip version 21.2.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\arceb\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [44]:
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression

In [59]:
y = bdd_bis["Code"]
# on ne prend que les colonnes quantitatives
x = bdd_bis[['Montant maxi (loyer+charges) supportable', 'Ressources mensuelles du foyer','Nb unités de consommation du foyer', 'Age demandeur']]

In [60]:
modele_logit = LogisticRegression(penalty='none',solver='newton-cg')
modele_logit.fit(x,y)

LogisticRegression(penalty='none', solver='newton-cg')

In [61]:
pd.DataFrame(np.concatenate([modele_logit.intercept_.reshape(-1,1),
                             modele_logit.coef_],axis=1),
             index = ["coef"],
             columns = ["constante"]+list(x.columns)).T

                                              coef
constante                                 1.897330
Montant maxi (loyer+charges) supportable -0.000011
Ressources mensuelles du foyer           -0.000004
Nb unités de consommation du foyer       -0.189925
Age demandeur                             0.018419