In [2]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [49]:
dfd = pd.read_csv(r'demandeurs_42_69_73_74_revenus.csv', index_col = 0)

In [50]:
dfd=dfd.rename(columns={'Type de ressource\n': 'Type'})
dfd

,Numéro Unique,Ressources mensuelles\n,Type,Montant par type de ressource\n
0,001011302246211126,484.0,Revenu de solidarité active (RSA),484.0
1,001011302274911126,2122.0,Autres (hors APL ou AL),272.0
2,001011302274911126,2122.0,Salaire ou revenu d'activité,2300.0
3,001011403468611126,2057.0,Allocation d'éducation d'enfant handicapé (AEEH),129.0
4,001011403468611126,2057.0,Allocation familiales,128.0
...,...,...,...,...
227963,9741117156583GDPUB,1165.0,Autres (hors APL ou AL),437.0
227964,9741117156583GDPUB,1165.0,Salaire ou revenu d'activité,599.0
227965,974121613666511487,761.0,Allocation Jeune Enfant (PAJE),184.0
227966,974121613666511487,761.0,Salaire ou revenu d'activité,577.0
227967,118333,NaN,NaN,NaN

In [51]:
dfd['Ressources mensuelles\n'].isna().sum()

3929

In [52]:
dfdbis=dfd.drop_duplicates(subset ="Numéro Unique")
dfdbis=dfdbis.dropna()
dfdbis

,Numéro Unique,Ressources mensuelles\n,Type,Montant par type de ressource\n
0,001011302246211126,484.0,Revenu de solidarité active (RSA),484.0
1,001011302274911126,2122.0,Autres (hors APL ou AL),272.0
3,001011403468611126,2057.0,Allocation d'éducation d'enfant handicapé (AEEH),129.0
6,001011504695111168,1023.0,Allocation familiales,129.0
9,001011504798111126,1000.0,Salaire ou revenu d'activité,1000.0
...,...,...,...,...
227956,974101715477011487,1440.0,Allocation familiales,467.0
227959,9741116133178GDPUB,1739.0,Allocation d'adulte handicapé(AAH),399.0
227961,9741117156454GDPUB,1260.0,Salaire ou revenu d'activité,1260.0
227962,9741117156583GDPUB,1165.0,Allocation familiales,129.0
227965,974121613666511487,761.0,Allocation Jeune Enfant (PAJE),184.0

### Calcul des ressources imposables mensuelles

In [53]:
values=["Retraite", "Allocation chômage / indemnités", "Salaire ou revenu d'activité", "Pension alimentaire reçue", "Autres (hors APL ou AL)", "Pension d\'invalidité"]
filtered_df = dfd[dfd.Type.isin(values)]
filtered_df

,Numéro Unique,Ressources mensuelles\n,Type,Montant par type de ressource\n
1,001011302274911126,2122.0,Autres (hors APL ou AL),272.0
2,001011302274911126,2122.0,Salaire ou revenu d'activité,2300.0
5,001011403468611126,2057.0,Salaire ou revenu d'activité,1800.0
8,001011504695111168,1023.0,Salaire ou revenu d'activité,679.0
9,001011504798111126,1000.0,Salaire ou revenu d'activité,1000.0
...,...,...,...,...
227960,9741116133178GDPUB,1739.0,Pension d'invalidité,1340.0
227961,9741117156454GDPUB,1260.0,Salaire ou revenu d'activité,1260.0
227963,9741117156583GDPUB,1165.0,Autres (hors APL ou AL),437.0
227964,9741117156583GDPUB,1165.0,Salaire ou revenu d'activité,599.0
227966,974121613666511487,761.0,Salaire ou revenu d'activité,577.0

In [54]:
shrank_values = filtered_df.groupby(by='Numéro Unique').sum()['Montant par type de ressource\n']

merged_df = filtered_df.merge(shrank_values, left_on='Numéro Unique', right_index=True)

merged_df = merged_df.rename(columns={'Montant par type de ressource\n_y': 'Ressources imposables mensuelles moyennes (RI)'})

In [55]:
merged_df

,Numéro Unique,Ressources mensuelles\n,Type,Montant par type de ressource\n_x,Ressources imposables mensuelles moyennes (RI)
1,001011302274911126,2122.0,Autres (hors APL ou AL),272.0,2572.0
2,001011302274911126,2122.0,Salaire ou revenu d'activité,2300.0,2572.0
5,001011403468611126,2057.0,Salaire ou revenu d'activité,1800.0,1800.0
8,001011504695111168,1023.0,Salaire ou revenu d'activité,679.0,679.0
9,001011504798111126,1000.0,Salaire ou revenu d'activité,1000.0,1000.0
...,...,...,...,...,...
227960,9741116133178GDPUB,1739.0,Pension d'invalidité,1340.0,1340.0
227961,9741117156454GDPUB,1260.0,Salaire ou revenu d'activité,1260.0,1260.0
227963,9741117156583GDPUB,1165.0,Autres (hors APL ou AL),437.0,1036.0
227964,9741117156583GDPUB,1165.0,Salaire ou revenu d'activité,599.0,1036.0
227966,974121613666511487,761.0,Salaire ou revenu d'activité,577.0,577.0

In [56]:
merged_dfbis=merged_df.drop_duplicates(subset ="Numéro Unique")
merged_dfbis

,Numéro Unique,Ressources mensuelles\n,Type,Montant par type de ressource\n_x,Ressources imposables mensuelles moyennes (RI)
1,001011302274911126,2122.0,Autres (hors APL ou AL),272.0,2572.0
5,001011403468611126,2057.0,Salaire ou revenu d'activité,1800.0,1800.0
8,001011504695111168,1023.0,Salaire ou revenu d'activité,679.0,679.0
9,001011504798111126,1000.0,Salaire ou revenu d'activité,1000.0,1000.0
10,001011606073945B99,1900.0,Salaire ou revenu d'activité,1900.0,1900.0
...,...,...,...,...,...
227957,974101715477011487,1440.0,Autres (hors APL ou AL),717.0,717.0
227960,9741116133178GDPUB,1739.0,Pension d'invalidité,1340.0,1340.0
227961,9741117156454GDPUB,1260.0,Salaire ou revenu d'activité,1260.0,1260.0
227963,9741117156583GDPUB,1165.0,Autres (hors APL ou AL),437.0,1036.0
227966,974121613666511487,761.0,Salaire ou revenu d'activité,577.0,577.0

In [57]:
bdd = dfdbis.merge(merged_dfbis, on='Numéro Unique', how='outer')
bdd=bdd[['Numéro Unique', 'Ressources mensuelles\n_x','Ressources imposables mensuelles moyennes (RI)']]
bdd=bdd.rename(columns={'Ressources mensuelles\n_x': 'RM Moyennes'})
bdd

,Numéro Unique,RM Moyennes,Ressources imposables mensuelles moyennes (RI)
0,001011302246211126,484.0,NaN
1,001011302274911126,2122.0,2572.0
2,001011403468611126,2057.0,1800.0
3,001011504695111168,1023.0,679.0
4,001011504798111126,1000.0,1000.0
...,...,...,...
114359,974101715477011487,1440.0,717.0
114360,9741116133178GDPUB,1739.0,1340.0
114361,9741117156454GDPUB,1260.0,1260.0
114362,9741117156583GDPUB,1165.0,1036.0
114363,974121613666511487,761.0,577.0

In [150]:
#Foyers dont les ressources mensuelles ne matchent pas le revenu imposable => Une part des ressources n'est pas imposable
merged_df[merged_df['Revenu imposable']!=merged_df['Ressources mensuelles']]

,Numéro Unique,Ressources mensuelles,Type,Montant par type de ressource_x,Revenu imposable
index,,,,,
29,002011403169610414,946.0,Salaire ou revenu d'activité,650.0,650.0
30,002011707708910411,1000.0,Retraite,1001.0,1001.0
32,0020117077711GDPUB,1850.0,Salaire ou revenu d'activité,1650.0,1650.0
34,002011707772510420,1982.0,Salaire ou revenu d'activité,1700.0,1700.0
37,002021707869210424,1371.0,Retraite,1671.0,1671.0
...,...,...,...,...,...
1285435,972121705572711572,1157.0,Retraite,1044.0,1044.0
1285437,9740317139610AL020,691.0,Pension d'invalidité,991.0,991.0
1285440,9740317140139AL020,3728.0,Pension alimentaire reçue,100.0,1828.0
1285441,9740317140139AL020,3728.0,Salaire ou revenu d'activité,1728.0,1828.0
1285443,974051714578111487,367.0,Autres (hors APL ou AL),168.0,168.0

In [151]:
#Foyers avec plusieurs type de revenus
merged_df[merged_df['Revenu imposable']!=merged_df['Montant par type de ressource_x']]

,Numéro Unique,Ressources mensuelles,Type,Montant par type de ressource_x,Revenu imposable
index,,,,,
3,001071606857001033,1570.0,Allocation chômage / indemnités,500.0,1570.0
4,001071606857001033,1570.0,Salaire ou revenu d'activité,1070.0,1570.0
7,001111708713716214,1868.0,Pension d'invalidité,723.0,1868.0
8,001111708713716214,1868.0,Retraite,1145.0,1868.0
13,0011217089230GDPUB,1800.0,Allocation chômage / indemnités,0.0,1800.0
...,...,...,...,...,...
1285430,972091705244411572,3002.0,Salaire ou revenu d'activité,1501.0,3002.0
1285440,9740317140139AL020,3728.0,Pension alimentaire reçue,100.0,1828.0
1285441,9740317140139AL020,3728.0,Salaire ou revenu d'activité,1728.0,1828.0
1285445,974081715046411487,1027.0,Pension alimentaire reçue,160.0,1027.0
1285446,974081715046411487,1027.0,Retraite,867.0,1027.0

In [152]:
#Foyers avec un seul type de revenu
merged_df[~(merged_df['Revenu imposable']!=merged_df['Montant par type de ressource_x'])]

,Numéro Unique,Ressources mensuelles,Type,Montant par type de ressource_x,Revenu imposable
index,,,,,
0,0010216061927GDPUB,908.0,Retraite,908.0,908.0
1,001021707657411126,1239.0,Retraite,1239.0,1239.0
2,0010417079507GDPUB,1000.0,Allocation chômage / indemnités,1000.0,1000.0
5,001081708354301071,2000.0,Salaire ou revenu d'activité,2000.0,2000.0
6,0010917085404AL020,44030.0,Salaire ou revenu d'activité,44030.0,44030.0
...,...,...,...,...,...
1285438,9740317140124AL020,1560.0,Salaire ou revenu d'activité,1560.0,1560.0
1285442,9740317140152GDPUB,952.0,Retraite,952.0,952.0
1285443,974051714578111487,367.0,Autres (hors APL ou AL),168.0,168.0
1285447,974101613022611484,1240.0,Retraite,1240.0,1240.0
1285448,974111613236511483,1650.0,Salaire ou revenu d'activité,1650.0,1650.0

### Calcul des prestations familiales et sociales mensuelles

In [58]:
values1=["Allocation d'adulte handicapé(AAH)", "Allocation d'éducation d'enfant handicapé (AEEH)", "Allocation de minimum vieillesse", "Allocation familiales", "Allocation Jeune Enfant (PAJE)", "Bourse étudiant", "Prime d'activité", "Revenu de solidarité active (RSA)", "Allocation journalière de présence parentale (AJPP)"]
filtered_df1 = dfd[dfd.Type.isin(values1)]
filtered_df1

,Numéro Unique,Ressources mensuelles\n,Type,Montant par type de ressource\n
0,001011302246211126,484.0,Revenu de solidarité active (RSA),484.0
3,001011403468611126,2057.0,Allocation d'éducation d'enfant handicapé (AEEH),129.0
4,001011403468611126,2057.0,Allocation familiales,128.0
6,001011504695111168,1023.0,Allocation familiales,129.0
7,001011504695111168,1023.0,Revenu de solidarité active (RSA),215.0
...,...,...,...,...
227956,974101715477011487,1440.0,Allocation familiales,467.0
227958,974101715477011487,1440.0,Revenu de solidarité active (RSA),256.0
227959,9741116133178GDPUB,1739.0,Allocation d'adulte handicapé(AAH),399.0
227962,9741117156583GDPUB,1165.0,Allocation familiales,129.0
227965,974121613666511487,761.0,Allocation Jeune Enfant (PAJE),184.0

In [59]:
shrank_values1 = filtered_df1.groupby(by='Numéro Unique').sum()['Montant par type de ressource\n']

merged_df1 = filtered_df1.merge(shrank_values1, left_on='Numéro Unique', right_index=True)

merged_df1 = merged_df1.rename(columns={'Montant par type de ressource\n_y': 'Prestations familiales et sociales mensuelles moyennes (PFS)'})

In [60]:
merged_df1

,Numéro Unique,Ressources mensuelles\n,Type,Montant par type de ressource\n_x,Prestations familiales et sociales mensuelles moyennes (PFS)
0,001011302246211126,484.0,Revenu de solidarité active (RSA),484.0,484.0
3,001011403468611126,2057.0,Allocation d'éducation d'enfant handicapé (AEEH),129.0,257.0
4,001011403468611126,2057.0,Allocation familiales,128.0,257.0
6,001011504695111168,1023.0,Allocation familiales,129.0,344.0
7,001011504695111168,1023.0,Revenu de solidarité active (RSA),215.0,344.0
...,...,...,...,...,...
227956,974101715477011487,1440.0,Allocation familiales,467.0,723.0
227958,974101715477011487,1440.0,Revenu de solidarité active (RSA),256.0,723.0
227959,9741116133178GDPUB,1739.0,Allocation d'adulte handicapé(AAH),399.0,399.0
227962,9741117156583GDPUB,1165.0,Allocation familiales,129.0,129.0
227965,974121613666511487,761.0,Allocation Jeune Enfant (PAJE),184.0,184.0

In [61]:
merged_dfbis1=merged_df1.drop_duplicates(subset ="Numéro Unique")
merged_dfbis1

,Numéro Unique,Ressources mensuelles\n,Type,Montant par type de ressource\n_x,Prestations familiales et sociales mensuelles moyennes (PFS)
0,001011302246211126,484.0,Revenu de solidarité active (RSA),484.0,484.0
3,001011403468611126,2057.0,Allocation d'éducation d'enfant handicapé (AEEH),129.0,257.0
6,001011504695111168,1023.0,Allocation familiales,129.0,344.0
12,001011606085911126,1921.0,Allocation familiales,1062.0,1271.0
21,001011707472217214,1808.0,Allocation familiales,132.0,132.0
...,...,...,...,...,...
227950,974091613096811480,1592.0,Allocation d'éducation d'enfant handicapé (AEEH),395.0,1320.0
227956,974101715477011487,1440.0,Allocation familiales,467.0,723.0
227959,9741116133178GDPUB,1739.0,Allocation d'adulte handicapé(AAH),399.0,399.0
227962,9741117156583GDPUB,1165.0,Allocation familiales,129.0,129.0
227965,974121613666511487,761.0,Allocation Jeune Enfant (PAJE),184.0,184.0

In [62]:
bddbis = bdd.merge(merged_dfbis1, on='Numéro Unique', how='outer')
bddbis=bddbis.rename(columns={'Ressources mensuelles\n_x': 'RM Moyennes'})
bddbis=bddbis[['Numéro Unique', 'RM Moyennes','Ressources imposables mensuelles moyennes (RI)', 'Prestations familiales et sociales mensuelles moyennes (PFS)']]
bddbis

,Numéro Unique,RM Moyennes,Ressources imposables mensuelles moyennes (RI),Prestations familiales et sociales mensuelles moyennes (PFS)
0,001011302246211126,484.0,NaN,484.0
1,001011302274911126,2122.0,2572.0,NaN
2,001011403468611126,2057.0,1800.0,257.0
3,001011504695111168,1023.0,679.0,344.0
4,001011504798111126,1000.0,1000.0,NaN
...,...,...,...,...
114359,974101715477011487,1440.0,717.0,723.0
114360,9741116133178GDPUB,1739.0,1340.0,399.0
114361,9741117156454GDPUB,1260.0,1260.0,NaN
114362,9741117156583GDPUB,1165.0,1036.0,129.0
114363,974121613666511487,761.0,577.0,184.0

### Somme Revenus imposables et prestations

In [33]:
bddbis['Ressources imposables mensuelles moyennes (RI)'].fillna(0, inplace=True)
bddbis['Prestations familiales et sociales mensuelles moyennes (PFS)'].fillna(0, inplace=True)

In [34]:
bddbis

,Numéro Unique,RM Moyennes,Ressources imposables mensuelles moyennes (RI),Prestations familiales et sociales mensuelles moyennes (PFS)
0,001031606376411126,829.0,209.0,620.0
1,001031707754001033,759.0,722.0,37.0
2,0010317077778GDPUB,2114.0,1116.0,998.0
3,0010417078908GDPUB,1600.0,1600.0,0.0
4,0010616066636GDPUB,3184.0,3000.0,184.0
...,...,...,...,...
90214,973071703439411526,2985.0,2689.0,296.0
90215,9731217036751GDPUB,787.0,0.0,787.0
90216,9740116110885GDPUB,472.0,0.0,472.0
90217,9740417140838GDPUB,1700.0,1700.0,0.0
90218,974081714984011487,764.0,764.0,0.0

In [35]:
bddbis['Ri + PFS']=bddbis['Ressources imposables mensuelles moyennes (RI)']+bddbis['Prestations familiales et sociales mensuelles moyennes (PFS)']
bddbis

,Numéro Unique,RM Moyennes,Ressources imposables mensuelles moyennes (RI),Prestations familiales et sociales mensuelles moyennes (PFS),Ri + PFS
0,001031606376411126,829.0,209.0,620.0,829.0
1,001031707754001033,759.0,722.0,37.0,759.0
2,0010317077778GDPUB,2114.0,1116.0,998.0,2114.0
3,0010417078908GDPUB,1600.0,1600.0,0.0,1600.0
4,0010616066636GDPUB,3184.0,3000.0,184.0,3184.0
...,...,...,...,...,...
90214,973071703439411526,2985.0,2689.0,296.0,2985.0
90215,9731217036751GDPUB,787.0,0.0,787.0,787.0
90216,9740116110885GDPUB,472.0,0.0,472.0,472.0
90217,9740417140838GDPUB,1700.0,1700.0,0.0,1700.0
90218,974081714984011487,764.0,764.0,0.0,764.0

### Mise en place des tranches de ressources mensuelles

In [36]:
bddbis['Tranches de ressources mensuelles (RM)']=0

def decoupe(rl):
    for i in range(0, 5000, 50):
        if i<=rl and rl<i+50:
            return i
        elif rl>4950:
            return 4950

bddbis['Tranches de ressources mensuelles (RM)'] = bddbis['RM Moyennes'].apply(decoupe)
bddbis

,Numéro Unique,RM Moyennes,Ressources imposables mensuelles moyennes (RI),Prestations familiales et sociales mensuelles moyennes (PFS),Ri + PFS,Tranches de ressources mensuelles (RM)
0,001031606376411126,829.0,209.0,620.0,829.0,800.0
1,001031707754001033,759.0,722.0,37.0,759.0,750.0
2,0010317077778GDPUB,2114.0,1116.0,998.0,2114.0,2100.0
3,0010417078908GDPUB,1600.0,1600.0,0.0,1600.0,1600.0
4,0010616066636GDPUB,3184.0,3000.0,184.0,3184.0,3150.0
...,...,...,...,...,...,...
90214,973071703439411526,2985.0,2689.0,296.0,2985.0,2950.0
90215,9731217036751GDPUB,787.0,0.0,787.0,787.0,750.0
90216,9740116110885GDPUB,472.0,0.0,472.0,472.0,450.0
90217,9740417140838GDPUB,1700.0,1700.0,0.0,1700.0,1700.0
90218,974081714984011487,764.0,764.0,0.0,764.0,750.0

In [37]:
#bddbis['Tranches de ressources mensuelles'].dropna()

In [38]:
#bddbis.groupby(['Tranches de ressources mensuelles'])['Sales'].mean()
x=bddbis.groupby('Tranches de ressources mensuelles (RM)').mean().reset_index()
x

,Tranches de ressources mensuelles (RM),RM Moyennes,Ressources imposables mensuelles moyennes (RI),Prestations familiales et sociales mensuelles moyennes (PFS),Ri + PFS
0,0.0,1.672684,0.870036,1.134777,2.004813
1,50.0,76.679612,46.524272,43.747573,90.271845
2,100.0,121.608579,38.654155,91.989276,130.643432
3,150.0,177.533163,43.229592,139.877551,183.107143
4,200.0,219.331858,126.845133,103.331858,230.176991
...,...,...,...,...,...
95,4750.0,4772.500000,4303.000000,469.500000,4772.500000
96,4800.0,4836.000000,3508.000000,1328.000000,4836.000000
97,4850.0,4886.000000,4886.000000,0.000000,4886.000000
98,4900.0,4944.000000,4944.000000,0.000000,4944.000000
99,4950.0,15928.314286,14971.571429,995.814286,15967.385714

In [39]:
#x['Nombre de demandeurs'] = bddbis.groupby('Tranches de ressources mensuelles').count()
y=bddbis['Tranches de ressources mensuelles (RM)'].value_counts()
y=y.reset_index()
y

     index  Tranches de ressources mensuelles (RM)
0    450.0                                    5781
1    800.0                                    5758
2   1200.0                                    4190
3   1300.0                                    3590
4    900.0                                    3405
..     ...                                     ...
95  4850.0                                       1
96  4800.0                                       1
97  4900.0                                       1
98  4650.0                                       1
99  4350.0                                       1

[100 rows x 2 columns]

In [40]:
y=y.rename(columns={'index': 'Tranches de ressources mensuelles (RM)', "Tranches de ressources mensuelles (RM)": "Nombre de demandeurs"})

In [41]:
y

    Tranches de ressources mensuelles (RM)  Nombre de demandeurs
0                                    450.0                  5781
1                                    800.0                  5758
2                                   1200.0                  4190
3                                   1300.0                  3590
4                                    900.0                  3405
..                                     ...                   ...
95                                  4850.0                     1
96                                  4800.0                     1
97                                  4900.0                     1
98                                  4650.0                     1
99                                  4350.0                     1

[100 rows x 2 columns]

In [42]:
final = x.merge(y, on='Tranches de ressources mensuelles (RM)', how='left')
final

,Tranches de ressources mensuelles (RM),RM Moyennes,Ressources imposables mensuelles moyennes (RI),Prestations familiales et sociales mensuelles moyennes (PFS),Ri + PFS,Nombre de demandeurs
0,0.0,1.672684,0.870036,1.134777,2.004813,831
1,50.0,76.679612,46.524272,43.747573,90.271845,103
2,100.0,121.608579,38.654155,91.989276,130.643432,373
3,150.0,177.533163,43.229592,139.877551,183.107143,392
4,200.0,219.331858,126.845133,103.331858,230.176991,226
...,...,...,...,...,...,...
95,4750.0,4772.500000,4303.000000,469.500000,4772.500000,2
96,4800.0,4836.000000,3508.000000,1328.000000,4836.000000,1
97,4850.0,4886.000000,4886.000000,0.000000,4886.000000,1
98,4900.0,4944.000000,4944.000000,0.000000,4944.000000,1
99,4950.0,15928.314286,14971.571429,995.814286,15967.385714,140

In [43]:
final=final[['Tranches de ressources mensuelles (RM)', 'Nombre de demandeurs', 'RM Moyennes', 'Prestations familiales et sociales mensuelles moyennes (PFS)', 'Ressources imposables mensuelles moyennes (RI)', 'Ri + PFS']]

In [27]:
final=final.reset_index(drop=True)
final

,Tranches de ressources mensuelles (RM),Nombre de demandeurs,RM Moyennes,Prestations familiales et sociales mensuelles moyennes (PFS),Ressources imposables mensuelles moyennes (RI),Ri + PFS
0,0.0,831,1.672684,1.134777,0.870036,2.004813
1,50.0,103,76.679612,43.747573,46.524272,90.271845
2,100.0,373,121.608579,91.989276,38.654155,130.643432
3,150.0,392,177.533163,139.877551,43.229592,183.107143
4,200.0,226,219.331858,103.331858,126.845133,230.176991
...,...,...,...,...,...,...
95,4750.0,2,4772.500000,469.500000,4303.000000,4772.500000
96,4800.0,1,4836.000000,1328.000000,3508.000000,4836.000000
97,4850.0,1,4886.000000,0.000000,4886.000000,4886.000000
98,4900.0,1,4944.000000,0.000000,4944.000000,4944.000000
99,4950.0,140,15928.314286,995.814286,14971.571429,15967.385714

In [401]:
file_name = 'Analyse des ressources v4.xlsx'
final.to_excel(file_name)

### Tableaux croisés RI / PFS

In [44]:
bddbis['Tranches de RI']=0
bddbis['Tranches de PFS']=0

def decoupe2(rl):
    for i in range(0, 2000, 50):
        if i<=rl and rl<i+50:
            return i
        elif rl>2000:
            return np.NaN

bddbis['Tranches de RI'] = bddbis['Ressources imposables mensuelles moyennes (RI)'].apply(decoupe2)
bddbis['Tranches de PFS'] = bddbis['Prestations familiales et sociales mensuelles moyennes (PFS)'].apply(decoupe2)
bddbis

,Numéro Unique,RM Moyennes,Ressources imposables mensuelles moyennes (RI),Prestations familiales et sociales mensuelles moyennes (PFS),Ri + PFS,Tranches de ressources mensuelles (RM),Tranches de RI,Tranches de PFS
0,001031606376411126,829.0,209.0,620.0,829.0,800.0,200.0,600.0
1,001031707754001033,759.0,722.0,37.0,759.0,750.0,700.0,0.0
2,0010317077778GDPUB,2114.0,1116.0,998.0,2114.0,2100.0,1100.0,950.0
3,0010417078908GDPUB,1600.0,1600.0,0.0,1600.0,1600.0,1600.0,0.0
4,0010616066636GDPUB,3184.0,3000.0,184.0,3184.0,3150.0,NaN,150.0
...,...,...,...,...,...,...,...,...
90214,973071703439411526,2985.0,2689.0,296.0,2985.0,2950.0,NaN,250.0
90215,9731217036751GDPUB,787.0,0.0,787.0,787.0,750.0,0.0,750.0
90216,9740116110885GDPUB,472.0,0.0,472.0,472.0,450.0,0.0,450.0
90217,9740417140838GDPUB,1700.0,1700.0,0.0,1700.0,1700.0,1700.0,0.0
90218,974081714984011487,764.0,764.0,0.0,764.0,750.0,750.0,0.0

In [45]:
tableau=bddbis[['Tranches de RI', 'Tranches de PFS']]
tableau=tableau.dropna()
tableau

       Tranches de RI  Tranches de PFS
0               200.0            600.0
1               700.0              0.0
2              1100.0            950.0
3              1600.0              0.0
6               650.0              0.0
...               ...              ...
90213           400.0            100.0
90215             0.0            750.0
90216             0.0            450.0
90217          1700.0              0.0
90218           750.0              0.0

[85480 rows x 2 columns]

In [47]:
#bddbis.pivot_table(index="Trancges de RI", columns="Tranches de PFS", values="value", aggfunc="sum")
z=bddbis.pivot_table(index="Tranches de RI", columns="Tranches de PFS", values="Numéro Unique",  aggfunc="size", fill_value=0)
z

Tranches de PFS,0.0,50.0,100.0,150.0,200.0,250.0,300.0,350.0,400.0,450.0,...,1500.0,1550.0,1600.0,1650.0,1700.0,1750.0,1800.0,1850.0,1900.0,1950.0
Tranches de RI,,,,,,,,,,,,,,,,,,,,,
0.0,833,50,273,300,89,141,266,155,350,4737,...,82,59,80,49,51,31,37,17,25,24
50.0,53,1,6,5,2,4,17,10,8,63,...,2,3,3,2,0,0,2,0,0,0
100.0,98,1,8,20,4,7,24,25,21,61,...,5,2,7,2,6,2,3,3,1,0
150.0,83,2,10,8,7,7,24,22,13,63,...,2,0,1,1,1,2,0,0,1,0
200.0,115,1,15,18,12,23,23,20,17,89,...,9,10,5,5,5,4,4,0,3,1
250.0,110,1,17,17,12,20,20,15,13,126,...,3,4,0,3,1,2,0,1,3,1
300.0,180,5,29,37,10,17,27,24,27,53,...,7,6,4,0,1,3,1,1,1,0
350.0,156,7,38,17,8,13,77,14,30,73,...,7,2,2,2,0,2,0,0,0,0
400.0,230,23,22,22,12,17,29,21,27,56,...,2,5,3,3,2,0,1,1,1,0
450.0,850,10,38,33,18,30,44,24,29,51,...,5,5,0,2,0,4,0,0,1,1
500.0,1140,16,58,56,43,43,67,30,45,58,...,5,2,6,0,4,0,2,0,1,0
550.0,536,17,46,38,35,19,31,24,23,39,...,3,3,3,1,3,2,1,0,1,1
600.0,636,24,52,57,45,31,39,31,32,50,...,2,2,6,1,3,1,1,1,0,1
650.0,792,20,92,73,75,42,43,24,47,56,...,5,2,1,0,2,3,2,2,1,1
700.0,1002,22,132,75,52,37,52,30,32,52,...,0,4,1,0,0,0,0,0,0,0
750.0,963,24,66,54,46,24,28,24,25,41,...,0,1,0,1,1,1,1,0,0,0
800.0,1885,15,105,93,60,28,42,26,41,61,...,1,1,2,0,0,2,2,0,0,1
850.0,1324,14,81,126,47,33,50,21,20,46,...,0,3,2,0,4,0,1,1,0,1
900.0,1670,23,97,111,38,34,61,42,34,44,...,0,1,0,1,1,0,0,1,0,1
950.0,1465,10,99,96,37,33,62,30,22,45,...,3,0,0,0,1,2,0,0,0,0
1000.0,1893,21,100,98,30,33,57,32,20,37,...,0,0,0,0,0,0,0,0,0,0
1050.0,1309,28,90,61,18,23,42,17,18,27,...,2,0,1,0,0,0,0,1,0,0
1100.0,2148,31,153,116,26,30,51,32,26,59,...,2,0,1,1,0,0,0,0,0,0
1150.0,1833,42,108,89,30,30,58,24,31,47,...,1,1,0,0,0,1,1,0,0,0
1200.0,3061,48,177,125,27,44,83,34,38,62,...,2,1,0,0,1,0,1,1,0,0
1250.0,1892,33,114,88,35,31,51,18,14,42,...,0,1,0,1,0,1,0,0,0,0
1300.0,2477,33,156,103,35,46,70,21,26,56,...,1,1,1,0,1,0,0,0,0,1
1350.0,1667,34,110,73,21,33,50,14,16,41,...,0,0,1,0,0,0,0,0,0,1
1400.0,2163,23,117,100,22,38,71,29,16,43,...,2,0,0,0,0,0,1,0,0,0
1450.0,1483,20,108,66,21,29,57,13,15,29,...,1,2,0,1,0,0,0,0,0,0
1500.0,2194,25,127,74,18,39,75,20,12,52,...,2,1,0,0,1,0,2,0,0,1
1550.0,1098,13,95,39,6,23,34,18,16,30,...,0,0,0,0,0,0,0,0,0,0
1600.0,1592,13,96,69,17,27,43,12,21,39,...,0,1,1,0,0,0,1,0,0,0
1650.0,894,10,63,42,12,11,33,7,11,17,...,1,0,0,0,0,0,0,0,0,0
1700.0,1184,16,104,49,15,12,25,14,13,25,...,0,0,0,1,1,1,1,0,0,0
1750.0,694,17,47,38,8,15,22,7,4,25,...,1,0,0,0,0,1,0,0,0,0
1800.0,1014,9,57,37,11,11,26,11,7,27,...,0,0,0,0,1,0,0,0,0,0
1850.0,523,6,43,19,1,12,19,8,4,12,...,0,0,1,0,0,0,0,0,0,0
1900.0,674,8,41,34,4,9,25,7,5,12,...,0,0,0,0,0,0,0,1,0,0
1950.0,373,12,42,13,5,5,14,6,6,15,...,0,0,0,0,0,0,0,0,0,0

In [48]:
file_name = 'Tableau croisé v3.xlsx'
z.to_excel(file_name)

In [474]:
bddbis[bddbis['Tranches de PFS']==0]

,Numéro Unique,RM Moyennes,Ressources imposables mensuelles moyennes (RI),Prestations familiales et sociales mensuelles moyennes (PFS),Ri + PFS,Tranches de ressources mensuelles (RM),Tranches de RI,Tranches de PFS
3,0010217076033GDPUB,1200.0,1200.0,0.0,1200.0,1200.0,1200.0,0.0
4,001021707620301173,1200.0,1200.0,0.0,1200.0,1200.0,1200.0,0.0
5,001041707857711126,800.0,800.0,0.0,800.0,800.0,800.0,0.0
6,001041707861811126,1526.0,1526.0,0.0,1526.0,1500.0,1500.0,0.0
7,0010417079307GDPUB,1146.0,1146.0,0.0,1146.0,1100.0,1100.0,0.0
...,...,...,...,...,...,...,...,...
80873,974091715322011487,2121.0,2083.0,38.0,2121.0,2100.0,NaN,0.0
80875,974111715873511487,1725.0,1725.0,0.0,1725.0,1700.0,1700.0,0.0
80876,9741216133916GDPUB,2000.0,2000.0,0.0,2000.0,2000.0,2000.0,0.0
80877,9741216133920GDPUB,846.0,846.0,0.0,846.0,800.0,800.0,0.0
80878,9741217158325GDPUB,33.0,33.0,0.0,33.0,0.0,0.0,0.0

In [449]:
shrank = tableau.groupby(by='Tranches de RI').count()['Tranches de PFS']
shrank

Tranches de RI
0.0       13589
50.0        347
100.0      1227
150.0       737
200.0       837
250.0       583
300.0       680
350.0       662
400.0       650
450.0      1060
500.0      1558
550.0       761
600.0      1223
650.0      1263
700.0      1569
750.0      1589
800.0      2406
850.0      1831
900.0      2305
950.0      2068
1000.0     2420
1050.0     1776
1100.0     2790
1150.0     2508
1200.0     3849
1250.0     2374
1300.0     3084
1350.0     2165
1400.0     2844
1450.0     1990
1500.0     2952
1550.0     1471
1600.0     2083
1650.0     1212
1700.0     1500
1750.0      868
1800.0     1323
1850.0      651
1900.0      802
1950.0      496
2000.0      538
Name: Tranches de PFS, dtype: int64

In [441]:
def croix(c1, c2):
    for i in range(0, 76640):
        for j in range(0, 76640):
            if c1 == 0:
                if c2 ==0:
                    df[i][j] =+1

        return 0.3
    else:
        return 0

base['C1'] = base['Rapport RL'].apply(c1)
base

     index  Tranches de RI
0      0.0           13589
1   1200.0            3849
2   1300.0            3084
3   1500.0            2952
4   1400.0            2844
5   1100.0            2790
6   1150.0            2508
7   1000.0            2420
8    800.0            2406
9   1250.0            2374
10   900.0            2305
11  1350.0            2165
12  1600.0            2083
13   950.0            2068
14  1450.0            1990
15   850.0            1831
16  1050.0            1776
17   750.0            1589
18   700.0            1569
19   500.0            1558
20  1700.0            1500
21  1550.0            1471
22  1800.0            1323
23   650.0            1263
24   100.0            1227
25   600.0            1223
26  1650.0            1212
27   450.0            1060
28  1750.0             868
29   200.0             837
30  1900.0             802
31   550.0             761
32   150.0             737
33   300.0             680
34   350.0             662
35  1850.0             651
36   400.0             650
37   250.0             583
38  2000.0             538
39  1950.0             496
40    50.0             347

In [439]:
z.reset_index()

    Tranches de RI      0
0              0.0  13589
1             50.0    347
2            100.0   1227
3            150.0    737
4            200.0    837
5            250.0    583
6            300.0    680
7            350.0    662
8            400.0    650
9            450.0   1060
10           500.0   1558
11           550.0    761
12           600.0   1223
13           650.0   1263
14           700.0   1569
15           750.0   1589
16           800.0   2406
17           850.0   1831
18           900.0   2305
19           950.0   2068
20          1000.0   2420
21          1050.0   1776
22          1100.0   2790
23          1150.0   2508
24          1200.0   3849
25          1250.0   2374
26          1300.0   3084
27          1350.0   2165
28          1400.0   2844
29          1450.0   1990
30          1500.0   2952
31          1550.0   1471
32          1600.0   2083
33          1650.0   1212
34          1700.0   1500
35          1750.0    868
36          1800.0   1323
37          1850.0    651
38          1900.0    802
39          1950.0    496
40          2000.0    538

In [437]:
z

Tranches de RI
0.0       13589
50.0        347
100.0      1227
150.0       737
200.0       837
250.0       583
300.0       680
350.0       662
400.0       650
450.0      1060
500.0      1558
550.0       761
600.0      1223
650.0      1263
700.0      1569
750.0      1589
800.0      2406
850.0      1831
900.0      2305
950.0      2068
1000.0     2420
1050.0     1776
1100.0     2790
1150.0     2508
1200.0     3849
1250.0     2374
1300.0     3084
1350.0     2165
1400.0     2844
1450.0     1990
1500.0     2952
1550.0     1471
1600.0     2083
1650.0     1212
1700.0     1500
1750.0      868
1800.0     1323
1850.0      651
1900.0      802
1950.0      496
2000.0      538
dtype: int64

In [ ]:
pd.melt(df, id_vars=['A'], value_vars=['B'])